language: ruby

rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0

services:
  - mongodb

env:
  - MONGOID_VERSION=2
  - MONGOID_VERSION=3
  - MONGOID_VERSION=4

matrix:
  exclude:
    - rvm: 1.9.2
      env: MONGOID_VERSION=3
    - rvm: 1.9.2
      env: MONGOID_VERSION=4

cache: bundler